.main,html,body{
height: 100%;
margin: 0;
padding:0; 
}
.bg{
    background-image: url("../images/car.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    /* background-color: #345995; */
    border: #345995 solid 30px;
}
/* .main{
    display: flex;
} */
.logo{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: 100px;
}
footer{
    text-align: center;
    padding: 50px;
    color:#707070;
    font-size: 50px;
}
 