.main{
    /* box-sizing: border-box; */
}
.main,html,body{
    height: 100%;
}
/* .main{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    
} */
.container{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.sec-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.bg-1{
    background: linear-gradient(to bottom, #03cea4 0%, #254961 100%);
    /* width: 40%;
    height: 50%; */
    padding-bottom: 300px;
    padding-right: 350px;
    margin: 20px;
    }
.bg-2{
    background: linear-gradient(to left, #03cea4 0%, #254961 100%);
    padding-bottom: 300px;
    padding-right: 350px;
    margin: 20px;
}
.bg-3{
    background: linear-gradient(to top left, #03cea4 0%, #254961 100%);
    padding-bottom: 300px;
    padding-right: 350px;
    margin: 20px;
}
.c-1{
   background-color:#C94141;
   border-radius: 50%;
   padding:88px;
   margin-top:50px ;
}
.c-2{
    background-color: black;
    opacity: 0.76;
    border-radius: 50%;
    padding:88px;
    margin-top:50px ;
    margin-left: -40px;
}